.footer-container {
    /* background-color: #f8f7c5; */
    padding: 30px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    border: 2px solid rgb(243, 240, 240);
    border-radius: 20px;
    margin-top: 200px;
    /* align-items: center; */
    /* padding: 0;margin: 0; */
   
  }
  .address{
    display: flex;
  }
  .quick-link{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    /* padding: 0;
    margin: 0; */
    flex: 1;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .quick-link ul {
    list-style: none;
   
    padding: 0;
    
  }
  
  .quick-link li {
    /* margin-right: 20px; */
  }
  
  .contact-us {
    display: flex;
    flex-direction: column;flex: 1;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid red; */
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .contact-number,
  .contact-email {
    display: flex;
    align-items: center;
    padding: 0;margin: 0;
    /* margin-bottom: 10px; */
  }
  
  .contact-number svg,
  .contact-email svg {
    margin-right: 10px;
  }
  
  .submit-message {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    flex-direction: column;flex: 1;
    border-radius: 10px;
    /* border: 1px solid blue; */
  }
  
  .submit-message input,
  .submit-message textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-message textarea {
    height: 100px;
  }
  
  .submit-message button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-message button:hover {
    background-color: #0056b3;
  }
  

  @media screen and (max-width: 768px) {

    .footer-container {

      flex-direction: column;
    
      padding: 10px;
      margin: 100px 0px 0px 0px ;
      gap: 30px;
      /* margin-top: 200px; */
    }
  }